extends base

block content
  if errorMessage
    p= errorMessage
  form(method="POST")
    input(name="email", type="email", required, placeholder="Email")
    input(name="username", required, placeholder="Username")
    input(name="password", type="password", required, placeholder="Password")
    input(
      name="password2",
      type="password",
      required,
      placeholder="Confirm Password")
    input(type="submit", value="Join")
  .auth-switch
    span Already have an account?
    a(href="/login") Log in now &rarr;
